<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Getting started &middot; Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      <h1>django-images</h1>
      <h2>debug view</h2>
      <div>
      	<form method="POST" enctype="multipart/form-data">
      		{% csrf_token %}
          {{form.errors}}
      		{{form.as_ul}}
      		<input type="submit"/>
      	</form>
      </div>
      <div>
        {% for picture in pictures %}
        <h2>{{ picture.name }}</eùgit   h2>
          <ul>
            {% for size, image in picture.todict.items %}
              <li><a href="{{ image.url }}">{{ size }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
  </body>
</html>
